# create a series of numbers

In [ ]:
import pandas as pd
a=pd.Series([1,3,4,5,6,7])
print(a)

In [ ]:
import numpy as np
a1=pd.Series([1,2,3,4,np.nan,6])
print(a1)

In [ ]:
#create a list of dates with in a particular range
dates=pd.date_range('20190601',periods=20)
print(dates)

In [ ]:
list=pd.date_range('20190601',periods=5)
print(list)

In [ ]:
a2=pd.DataFrame(pd.date_range('20190601',periods=5))
print(a2)

In [ ]:
import pandas as pd
import numpy as np
a3=pd.DataFrame({'A':1.,
                'B':pd.Timestamp('20190601'),
                'C':pd.Series(1, index=list(range(4)), dtype='float32'),
                'D':np.array([3]*4,dtype='int32'),
                'E':pd.Categorical(["test","train","test","train"]),
                'F':'foo'})
print(a3)

In [ ]:
import turtle as tt
a1=tt.Turtle()
tt.forward(100)
tt.done()

In [ ]:
#drawing a square
import turtle as tt
a1=tt.Turtle()
a1.forward(150)
a1.right(90)


a1.forward(150)
a1.right(90)


a1.forward(150)
a1.right(90)


a1.forward(150)
a1.right(90)

tt.done()

In [ ]:
import turtle as tt
a1=tt.Turtle()
for i in range(40):
    a1.forward(i*10)
    a1.right(144)
tt.done()

In [ ]:
#DRAWING A SQUARE
import turtle as tt
a1=tt.Turtle()
a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

tt.done()

In [ ]:
import turtle as tt
a1=tt.Turtle()
a1.pencolor("pink")

for i in range(40):
    a1.forward(i*10)
    a1.right(144)

tt.done()

In [ ]:
import turtle as tt
a1=tt.Turtle()
a1.pencolor("pink")

for i in range(50):
    a1.forward(50)
    a1.left(123)

a1.pencolor("blue")
for i in range(50):
    a1.forward(100)
    a1.left(123)

tt.done()

In [ ]:
import turtle as tt

colors=["pink","blue","orange","yellow","violet","green"]

a1=tt.Turtle()

for x in range(360):
    a1.pencolor(colors[x%6])
    a1.width(x/100+1)
    a1.forward(x)
    a1.left(59)

tt.done()

In [ ]:
from turtle import *

def main():
    colors=("red","orange","yellow","seagreen","orchid4","royalblue1","dodgerblue1")
    reset()
    Screen()
    up()
    goto(-320,-195)
    width(70)
    for pcolor in colors:
        color(pcolor)
        down()
        forward(640)
        up()
        backward(640)
        left(90)
        forward(66)
        right(90)

width(25)
color("white")
down()

circle(170)
left(90)
forward(340)
up()
left(180)
forward(170)
right(45)
down()
forward(170)
up()
backward(170)
left(90)
down()
forward(170)
up()
goto(0,300)

if __name__ == "__main__":
    main()
    mainloop()